//Aquí han de venir los imports de variables / mixins / funtion

//Luego lo pongo todo en orden y creo variables para tener solo una page donde modificar datos/tamaño/colores

section {
 
  article {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
  
  }
}
