// @import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

@font-face {
  font-family: "GameOfThronesFont";
  src: local("GameOfThronesFont"),
    url("./assets/fonts/game-of-thrones-font.ttf") format("truetype");
}

// .img-fluid{
//    max-width: 100%;
//    height: auto;
// }

//Cuerpo de la web
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "GameOfThronesFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background-color: black;

  padding-bottom: 5rem; //NO TOCAR, esto hace que el footer se vea guay
}

//HomePage - Sami
.background-image {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: url("../src/assets/img/BackgroundHome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 85vh;
  justify-content: center;

  .homepage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: white;

    padding: 0;
    box-sizing: border-box;

    font-size: 6vw;
    padding: 1rem;
  }
}
// RETURN HOME -- Sami

.home-return-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;

  width: 100vw;
  height: 5vh;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
}

.return-button {
  display: flex;
  width: 2rem;
  height: auto;
  // align-items: center;
  // justify-content: center;
  margin-right: 3rem;
}

//NavBar -- Sami
.nav-container {
  display: flex;
  flex-wrap: wrap;

  position: fixed; // Esto hace que flote sobre los demas elementos
  left: 0;
  right: 0;
  bottom: 0; // esto para que se quede abajo pegadito

  width: 100vw;
  height: 10%; // al elemento padre hay que quitarle el 90%
  align-items: center;
  justify-content: center;
  background-color: black;
}

.nav-link {
  display: flex;
  flex-wrap: wrap;

  padding: 0rem 5rem;
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

//Character Page -- House Page - Ro
.Character-Container {
  width: auto;
  height: auto;
  margin: 5px;
  object-fit: cover;

  .square {
    size: 10vw;
    color: #f8fff8;
  }
}

//characterCard - HouseCard
.card-container {
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem;
  //responsive
  box-sizing: border-box;

  figure {
    display: flex;
    justify-content: center;

    h2 {
      font-size: 2vh;
      color: #f8fff8;
      text-decoration: none;
      text-align: center;
    }

    img {
      height: auto;
      width: auto;
      max-width: 500px;
      max-height: 400px;
    }
  }
}

//ChronologyPage
button {
  display: flex;
  justify-content: center;
}

//DetailCharacter = DetailHouse  -- share - Carlos
.main-detail {
  box-sizing: border-box;
}
.image-title {
  text-align: center;
}

.container-house {
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;

  // .row {
  //   display: flex;
  //   justify-items: center;
  // }
}
.div-section-detail {
  // flex-direction: column;
  // width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  // height: 200px;

  // flex-direction: column;

  // justify-content: center;
}
.box-section {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 1rem;

  // text-align: center;

  padding: 1rem;

  flex-direction: column;
  box-sizing: border-box;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  // flex-direction: column;
  // width: 100px;

  // justify-content: center;
}

//DetailPage --- ME decis

//HousePage

//HouseCard
