@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

@font-face {
  font-family: 'GameOfThronesFont';
  src: local('GameOfThronesFont'), url('./fonts/game-of-thrones-font.ttf') format('truetype');
}

body {
  margin: 10vh;
  font-family: 'GameOfThronesFont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
