@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

@font-face {
  font-family: 'GameOfThronesFont';
  src: local('GameOfThronesFont'), url('./assets/fonts/game-of-thrones-font.ttf') format('truetype');
}

// .img-fluid{
//    max-width: 100%;
//    height: auto;
// }


//Se utilza el * para que aplique a todo el 
* {
  background-color: black;
  font-family: 'GameOfThronesFont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}