//Aquí han de venir los imports de variables / mixins / funtion

* {
    font-family: 'Inconsolata', monospace;
    background: url("../../../../assets/img/BackgroundHome.jpg");
    // background-color: grey;
    margin: 0;
}


